.error-text {
    color: red;
}

.table {
    border: 2px solid black;
}

.flex {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
}